# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual Environment
.venv/
venv/
env/

#  IDE
.idea/


# Data (KHÔNG push data)
data/raw/
data/processed/
*.csv

# Models
models/
*.pkl
*.joblib




